.homepage{
  max-width: 1240px;
  margin:auto;
  display: grid;
  grid-template-columns: auto auto;
  border: 2px solid red;
}
.billing-container{
  margin: 3px;
  border: 2px solid green
}

.from-container{
  width:80% !important;
  margin: auto;
}

.shipping-address{
  margin: 3px;
  border: 2px solid blue;
}